In [1]:
import pandas as ps
print('umama')

umama

In [2]:
data={'Name':['umama','fatime','kinza'],
'Age':[19,18,20],
      'Salaray':[12000,3450,18000]}
df=ps.DataFrame(data)
print(df)
#ek sequence ma data dana rows and colmn ma

     Name  Age  Salaray
0   umama   19    12000
1  fatime   18     3450
2   kinza   20    18000

In [4]:
data=ps.read_csv('')

SyntaxError: unterminated string literal (detected at line 1) (3638263428.py, line 1)

In [18]:
#(data read),if i want to excess excel file so i would installl the pip install openpyxl
data=ps.read_excel('Umama text pandas file.xlsx')
print(data)

       1077430  GA  INDIVIDUAL   < 1 year                            Ryder  C  \
0      1072053  CA  INDIVIDUAL    9 years                   MKC Accounting  E
1      1069243  CA  INDIVIDUAL    4 years            Chemat Technology Inc  C
2      1041756  TX  INDIVIDUAL   < 1 year              barnes distribution  B
3      1068350  IL  INDIVIDUAL  10+ years                    J&J Steel Inc  A
4      1062608  CA  INDIVIDUAL    3 years                   Studio 94 Corp  C
...        ...  ..         ...        ...                              ... ..
38570   803452  NJ  INDIVIDUAL   < 1 year         Joseph M Sanzari Company  C
38571   970377  NY  INDIVIDUAL    8 years                        Swat Fame  C
38572   875376  CA  INDIVIDUAL    5 years  Anaheim Regional Medical Center  D
38573   972997  NY  INDIVIDUAL    5 years               Brooklyn Radiology  D
38574   682952  NY  INDIVIDUAL    4 years                    Allen Edmonds  F

           RENT 2021-02-11 00:00:00 2021-09-13 00:00:00 2021-04-13 00:00:00  \
0          RENT          2021-01-01          2021-12-14          2021-01-15
1          RENT          2021-01-05          2021-12-12          2021-01-09
2      MORTGAGE          2021-02-25          2021-12-12          2021-03-12
3      MORTGAGE          2021-01-01          2021-12-14          2021-01-15
4          RENT          2021-07-17          2021-03-16          2021-08-12
...         ...                 ...                 ...                 ...
38570  MORTGAGE          2021-07-11          2021-05-16          2021-05-16
38571      RENT          2021-10-11          2021-04-16          2021-05-16
38572      RENT          2021-09-11          2021-05-16          2021-05-16
38573      RENT          2021-10-11          2021-05-16          2021-05-16
38574      RENT          2021-07-11          2021-05-16          2021-05-16

       ...  C4   60 months  Source Verified     30000    0.01   59.83  0.1527  \
0      ...  E1   36 months  Source Verified   48000.0  0.0535  109.43  0.1864
1      ...  C5   36 months     Not Verified   50000.0  0.2088  421.65  0.1596
2      ...  B2   60 months  Source Verified   42000.0  0.0540   97.06  0.1065
3      ...  A1   36 months         Verified   83000.0  0.0231  106.53  0.0603
4      ...  C3   36 months     Not Verified   28000.0  0.1260  275.96  0.1465
...    ...  ..         ...              ...       ...     ...     ...     ...
38570  ...  C1   60 months         Verified  100000.0  0.1986  551.64  0.1299
38571  ...  C1   60 months         Verified   50000.0  0.0458  579.72  0.1349
38572  ...  D5   60 months         Verified   65000.0  0.1734  627.93  0.1749
38573  ...  D5   60 months         Verified  368000.0  0.0009  612.72  0.1825
38574  ...  F3   60 months         Verified   80000.0  0.0600  486.86  0.2099

        2500   4   1009
0       3000   4   3939
1      12000  11   3522
2       4500   9   4911
3       3500  28   3835
4       8000  11   8637
...      ...  ..    ...
38570  24250  33  31946
38571  25200  18  31870
38572  25000  20  35721
38573  24000   9  33677
38574  18000   7  27679

[38575 rows x 25 columns]

   1077430  GA  INDIVIDUAL   < 1 year                  Ryder  C      RENT  \
0  1072053  CA  INDIVIDUAL    9 years         MKC Accounting  E      RENT
1  1069243  CA  INDIVIDUAL    4 years  Chemat Technology Inc  C      RENT
2  1041756  TX  INDIVIDUAL   < 1 year    barnes distribution  B  MORTGAGE
3  1068350  IL  INDIVIDUAL  10+ years          J&J Steel Inc  A  MORTGAGE
4  1062608  CA  INDIVIDUAL    3 years         Studio 94 Corp  C      RENT
5  1067441  TX  INDIVIDUAL  10+ years      American Airlines  C  MORTGAGE
6  1066424  PA  INDIVIDUAL  10+ years            SCI Mahanoy  A       OWN
7  1065254  FL  INDIVIDUAL  10+ years         Tech Data Corp  A  MORTGAGE
8  1064589  MI  INDIVIDUAL  10+ years     teltow contracting  B  MORTGAGE
9  1057766  TX  INDIVIDUAL  10+ years               Ericsson  B  MORTGAGE

  2021-02-11 00:00:00 2021-09-13 00:00:00 2021-04-13 00:00:00  ...  C4  \
0          2021-01-01          2021-12-14          2021-01-15  ...  E1
1          2021-01-05          2021-12-12          2021-01-09  ...  C5
2          2021-02-25          2021-12-12          2021-03-12  ...  B2
3          2021-01-01          2021-12-14          2021-01-15  ...  A1
4          2021-07-17          2021-03-16          2021-08-12  ...  C3
5          2021-11-19          2021-06-14          2021-12-13  ...  C2
6          2021-06-11          2021-07-14          2021-07-14  ...  A4
7          2021-09-02          2021-06-15          2021-10-12  ...  A5
8          2021-02-09          2021-03-16          2021-03-16  ...  B5
9          2021-07-22          2021-09-13          2021-08-13  ...  B5

    60 months  Source Verified     30000    0.01   59.83  0.1527   2500   4  \
0   36 months  Source Verified   48000.0  0.0535  109.43  0.1864   3000   4
1   36 months     Not Verified   50000.0  0.2088  421.65  0.1596  12000  11
2   60 months  Source Verified   42000.0  0.0540   97.06  0.1065   4500   9
3   36 months         Verified   83000.0  0.0231  106.53  0.0603   3500  28
4   36 months     Not Verified   28000.0  0.1260  275.96  0.1465   8000  11
5   36 months         Verified   94800.0  0.2453  205.86  0.1427   6000  30
6   36 months  Source Verified   59000.0  0.0665  172.10  0.0790   5500  23
7   36 months         Verified  116400.0  0.0394  762.08  0.0890  24000  31
8   60 months     Not Verified   36000.0  0.1773   93.21  0.1269   4125  21
9   36 months     Not Verified   75000.0  0.0880  181.15  0.1269   5400  33

   1009
0  3939
1  3522
2  4911
3  3835
4  8637
5  7218
6  6172
7  8650
8  5551
9  6277

[10 rows x 25 columns]

In [14]:
#data types 
#method
print(data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38576 entries, 0 to 38575
Data columns (total 25 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   id                     38576 non-null  int64
 1   address_state          38576 non-null  object
 2   application_type       38576 non-null  object
 3   emp_length             38576 non-null  object
 4   emp_title              37138 non-null  object
 5   grade                  38576 non-null  object
 6   home_ownership         38576 non-null  object
 7   issue_date             38576 non-null  datetime64[ns]
 8   last_credit_pull_date  38576 non-null  datetime64[ns]
 9   last_payment_date      38576 non-null  datetime64[ns]
 10  loan_status            38576 non-null  object
 11  good vs bad            38576 non-null  object
 12  next_payment_date      38576 non-null  datetime64[ns]
 13  member_id              38576 non-null  int64
 14  purpose                38576 non-null  object
 15  sub_grade              38576 non-null  object
 16  term                   38576 non-null  object
 17  verification_status    38576 non-null  object
 18  annual_income          38576 non-null  float64
 19  dti                    38576 non-null  float64
 20  installment            38576 non-null  float64
 21  int_rate               38576 non-null  float64
 22  loan_amount            38576 non-null  int64
 23  total_acc              38576 non-null  int64
 24  total_payment          38576 non-null  int64
dtypes: datetime64[ns](4), float64(4), int64(5), object(12)
memory usage: 7.4+ MB
None

In [24]:
#exploring data in pandas
#agar data bara ha tu wo sb nh dehkai ga tu ma ya lehko gi num ka sath ka mujhai kitna data dehkna ha 
data=ps.read_excel('Umama text pandas file.xlsx')
print(data.head(10))

   1077430  GA  INDIVIDUAL   < 1 year                  Ryder  C      RENT  \
0  1072053  CA  INDIVIDUAL    9 years         MKC Accounting  E      RENT
1  1069243  CA  INDIVIDUAL    4 years  Chemat Technology Inc  C      RENT
2  1041756  TX  INDIVIDUAL   < 1 year    barnes distribution  B  MORTGAGE
3  1068350  IL  INDIVIDUAL  10+ years          J&J Steel Inc  A  MORTGAGE
4  1062608  CA  INDIVIDUAL    3 years         Studio 94 Corp  C      RENT
5  1067441  TX  INDIVIDUAL  10+ years      American Airlines  C  MORTGAGE
6  1066424  PA  INDIVIDUAL  10+ years            SCI Mahanoy  A       OWN
7  1065254  FL  INDIVIDUAL  10+ years         Tech Data Corp  A  MORTGAGE
8  1064589  MI  INDIVIDUAL  10+ years     teltow contracting  B  MORTGAGE
9  1057766  TX  INDIVIDUAL  10+ years               Ericsson  B  MORTGAGE

  2021-02-11 00:00:00 2021-09-13 00:00:00 2021-04-13 00:00:00  ...  C4  \
0          2021-01-01          2021-12-14          2021-01-15  ...  E1
1          2021-01-05          2021-12-12          2021-01-09  ...  C5
2          2021-02-25          2021-12-12          2021-03-12  ...  B2
3          2021-01-01          2021-12-14          2021-01-15  ...  A1
4          2021-07-17          2021-03-16          2021-08-12  ...  C3
5          2021-11-19          2021-06-14          2021-12-13  ...  C2
6          2021-06-11          2021-07-14          2021-07-14  ...  A4
7          2021-09-02          2021-06-15          2021-10-12  ...  A5
8          2021-02-09          2021-03-16          2021-03-16  ...  B5
9          2021-07-22          2021-09-13          2021-08-13  ...  B5

    60 months  Source Verified     30000    0.01   59.83  0.1527   2500   4  \
0   36 months  Source Verified   48000.0  0.0535  109.43  0.1864   3000   4
1   36 months     Not Verified   50000.0  0.2088  421.65  0.1596  12000  11
2   60 months  Source Verified   42000.0  0.0540   97.06  0.1065   4500   9
3   36 months         Verified   83000.0  0.0231  106.53  0.0603   3500  28
4   36 months     Not Verified   28000.0  0.1260  275.96  0.1465   8000  11
5   36 months         Verified   94800.0  0.2453  205.86  0.1427   6000  30
6   36 months  Source Verified   59000.0  0.0665  172.10  0.0790   5500  23
7   36 months         Verified  116400.0  0.0394  762.08  0.0890  24000  31
8   60 months     Not Verified   36000.0  0.1773   93.21  0.1269   4125  21
9   36 months     Not Verified   75000.0  0.0880  181.15  0.1269   5400  33

   1009
0  3939
1  3522
2  4911
3  3835
4  8637
5  7218
6  6172
7  8650
8  5551
9  6277

[10 rows x 25 columns]

In [25]:
data=ps.read_excel('Umama text pandas file.xlsx')
print(data.tail(10))

       1077430  GA  INDIVIDUAL  < 1 year  \
38565  1007647  VA  INDIVIDUAL    1 year
38566  1020423  GA  INDIVIDUAL  < 1 year
38567   792945  IL  INDIVIDUAL   3 years
38568   844956  VA  INDIVIDUAL   2 years
38569   841271  CT  INDIVIDUAL    1 year
38570   803452  NJ  INDIVIDUAL  < 1 year
38571   970377  NY  INDIVIDUAL   8 years
38572   875376  CA  INDIVIDUAL   5 years
38573   972997  NY  INDIVIDUAL   5 years
38574   682952  NY  INDIVIDUAL   4 years

                                          Ryder  C      RENT  \
38565  Ebert & Baumann Consulting Engineers, In  C      RENT
38566                            Triton Digital  D      RENT
38567                                  Intertek  E      RENT
38568                                      SAIC  G      RENT
38569                                 Travelers  D  MORTGAGE
38570                  Joseph M Sanzari Company  C  MORTGAGE
38571                                 Swat Fame  C      RENT
38572           Anaheim Regional Medical Center  D      RENT
38573                        Brooklyn Radiology  D      RENT
38574                             Allen Edmonds  F      RENT

      2021-02-11 00:00:00 2021-09-13 00:00:00 2021-04-13 00:00:00  ...  C4  \
38565          2021-11-11          2021-05-16          2021-05-16  ...  C1
38566          2021-11-11          2021-05-16          2021-05-16  ...  D3
38567          2021-06-11          2021-05-16          2021-05-16  ...  E2
38568          2021-08-11          2021-05-16          2021-05-16  ...  G1
38569          2021-08-11          2021-04-16          2021-05-16  ...  D2
38570          2021-07-11          2021-05-16          2021-05-16  ...  C1
38571          2021-10-11          2021-04-16          2021-05-16  ...  C1
38572          2021-09-11          2021-05-16          2021-05-16  ...  D5
38573          2021-10-11          2021-05-16          2021-05-16  ...  D5
38574          2021-07-11          2021-05-16          2021-05-16  ...  F3

        60 months  Source Verified     30000    0.01   59.83  0.1527   2500  \
38565   60 months  Source Verified   72000.0  0.0117  345.08  0.1349  15000
38566   60 months  Source Verified   43500.0  0.0041  164.99  0.1727   6600
38567   60 months  Source Verified   57040.5  0.0496  512.13  0.1839  20000
38568   60 months  Source Verified  150000.0  0.0888  113.50  0.2211   4100
38569   60 months  Source Verified   56000.0  0.1200  291.76  0.1599  12000
38570   60 months         Verified  100000.0  0.1986  551.64  0.1299  24250
38571   60 months         Verified   50000.0  0.0458  579.72  0.1349  25200
38572   60 months         Verified   65000.0  0.1734  627.93  0.1749  25000
38573   60 months         Verified  368000.0  0.0009  612.72  0.1825  24000
38574   60 months         Verified   80000.0  0.0600  486.86  0.2099  18000

        4   1009
38565   7  18588
38566   9   8890
38567  20  29702
38568  29   6463
38569  18  16587
38570  33  31946
38571  18  31870
38572  20  35721
38573   9  33677
38574   7  27679

[10 rows x 25 columns]

In [26]:
#jo values num ma hongi oska niklai ga (numeric values ka)
#five values method
data.describe()

,1077430,2021-02-11 00:00:00,2021-09-13 00:00:00,2021-04-13 00:00:00,NaN,2021-05-13 00:00:00,1314167,30000,0.01,59.83,0.1527,2500,4,1009
count,3.857500e+04,38575,38575,38575,0.0,38575,3.857500e+04,3.857500e+04,38575.000000,38575.000000,38575.000000,38575.000000,38575.000000,38575.000000
mean,6.810268e+05,2021-07-16 02:37:22.965651200,2021-06-08 13:32:58.203499776,2021-06-26 09:54:55.574854144,NaN,2021-07-26 20:45:08.282566656,8.476394e+05,6.964557e+04,0.133278,326.869887,0.120487,11296.294880,22.133014,12263.640285
min,5.473400e+04,2021-01-01 00:00:00,2021-01-08 00:00:00,2021-01-08 00:00:00,NaN,2021-02-08 00:00:00,7.069900e+04,4.000000e+03,0.000000,15.690000,0.054200,500.000000,2.000000,34.000000
25%,5.135110e+05,2021-04-11 00:00:00,2021-04-15 00:00:00,2021-03-16 00:00:00,NaN,2021-04-16 00:00:00,6.629745e+05,4.150000e+04,0.082100,168.450000,0.093200,5500.000000,14.000000,5633.000000
50%,6.627220e+05,2021-07-11 00:00:00,2021-05-16 00:00:00,2021-06-14 00:00:00,NaN,2021-07-14 00:00:00,8.473430e+05,6.000000e+04,0.134200,283.050000,0.118600,10000.000000,20.000000,10042.000000
75%,8.364885e+05,2021-10-11 00:00:00,2021-08-13 00:00:00,2021-09-15 00:00:00,NaN,2021-10-15 00:00:00,1.045633e+06,8.320100e+04,0.185900,434.485000,0.145900,15000.000000,29.000000,16658.000000
max,1.077501e+06,2021-12-12 00:00:00,2022-01-20 00:00:00,2021-12-15 00:00:00,NaN,2022-01-15 00:00:00,1.313524e+06,6.000000e+06,0.299900,1305.190000,0.245900,35000.000000,90.000000,58564.000000
std,2.113177e+05,NaN,NaN,NaN,NaN,NaN,2.668033e+05,6.429420e+04,0.066659,209.090290,0.037164,7460.708304,11.392056,9051.040703

In [27]:
print(data.isnull().sum())#jahan pr value nh ha wahan true ai ga

1077430                    0
GA                         0
INDIVIDUAL                 0
< 1 year                   0
Ryder                   1438
C                          0
RENT                       0
2021-02-11 00:00:00        0
2021-09-13 00:00:00        0
2021-04-13 00:00:00        0
Charged Off                0
NaN                    38575
2021-05-13 00:00:00        0
1314167                    0
car                        0
C4                         0
 60 months                 0
Source Verified            0
30000                      0
0.01                       0
59.83                      0
0.1527                     0
2500                       0
4                          0
1009                       0
dtype: int64

In [33]:
#handle duplicate values
data=ps.read_excel('Umama text pandas file.xlsx')
#print(data.duplicated())
print(data['TERM'].duplicated().sum())#total sum of duplicate specific col ka

8

In [36]:
print(data.drop_duplicates('TERM')) #jo col unique chahiyai os sa drop kari ga (name,gender age sa nh)

         TERM VERIFICATION_STATUS  ANNUAL_INCOME     DTI  INSTALLMENT  \
0   60 months     Source Verified          30000  0.0100        59.83
1   36 months     Source Verified          48000  0.0535       109.43

   INT_RATE  LOAN AMOUNT  TOTAL ACCOUNT  PAYMENT
0    0.1527         2500              4     1009
1    0.1864         3000              4     3939

In [37]:
#working with missing data 
data=ps.read_excel('Umama text pandas file.xlsx')
print(data)

         TERM VERIFICATION_STATUS  ANNUAL_INCOME     DTI  INSTALLMENT  \
0   60 months     Source Verified        30000.0  0.0100        59.83
1   36 months     Source Verified        48000.0  0.0535       109.43
2   36 months        Not Verified        50000.0  0.2088       421.65
3   60 months     Source Verified            NaN  0.0540        97.06
4   36 months            Verified        83000.0  0.0231       106.53
5   36 months        Not Verified        28000.0  0.1260       275.96
6   36 months            Verified        94800.0  0.2453       205.86
7   36 months     Source Verified        59000.0  0.0665       172.10
8   36 months            Verified       116400.0  0.0394       762.08
9   60 months        Not Verified        36000.0  0.1773        93.21

   INT_RATE  LOAN AMOUNT  TOTAL ACCOUNT  PAYMENT
0    0.1527         2500            4.0     1009
1    0.1864         3000            NaN     3939
2    0.1596        12000           11.0     3522
3    0.1065         4500            9.0     4911
4    0.0603         3500           28.0     3835
5    0.1465         8000           11.0     8637
6       NaN         6000           30.0     7218
7    0.0790         5500            NaN     6172
8    0.0890        24000           31.0     8650
9    0.1269         4125           21.0     5551

In [38]:
print(data.isnull())

    TERM  VERIFICATION_STATUS  ANNUAL_INCOME    DTI  INSTALLMENT  INT_RATE  \
0  False                False          False  False        False     False
1  False                False          False  False        False     False
2  False                False          False  False        False     False
3  False                False           True  False        False     False
4  False                False          False  False        False     False
5  False                False          False  False        False     False
6  False                False          False  False        False      True
7  False                False          False  False        False     False
8  False                False          False  False        False     False
9  False                False          False  False        False     False

   LOAN AMOUNT  TOTAL ACCOUNT  PAYMENT
0        False          False    False
1        False           True    False
2        False          False    False
3        False          False    False
4        False          False    False
5        False          False    False
6        False          False    False
7        False           True    False
8        False          False    False
9        False          False    False

In [39]:
print(data.isnull().sum())

TERM                   0
VERIFICATION_STATUS    0
ANNUAL_INCOME          1
DTI                    0
INSTALLMENT            0
INT_RATE               1
LOAN AMOUNT            0
TOTAL ACCOUNT          2
PAYMENT                0
dtype: int64

In [40]:
print(data.dropna())

         TERM VERIFICATION_STATUS  ANNUAL_INCOME     DTI  INSTALLMENT  \
0   60 months     Source Verified        30000.0  0.0100        59.83
2   36 months        Not Verified        50000.0  0.2088       421.65
4   36 months            Verified        83000.0  0.0231       106.53
5   36 months        Not Verified        28000.0  0.1260       275.96
8   36 months            Verified       116400.0  0.0394       762.08
9   60 months        Not Verified        36000.0  0.1773        93.21

   INT_RATE  LOAN AMOUNT  TOTAL ACCOUNT  PAYMENT
0    0.1527         2500            4.0     1009
2    0.1596        12000           11.0     3522
4    0.0603         3500           28.0     3835
5    0.1465         8000           11.0     8637
8    0.0890        24000           31.0     8650
9    0.1269         4125           21.0     5551

In [4]:
import pandas as ps
data=ps.read_csv('test_data_csv.csv')
print(data)

    EEID    NAME GENDER   SALARY
0  EMP01   UMAMA      F      NaN
1  EMP02  FATIMA      F  23000.0
2  EMP03   HAMNA      F   7890.0
3  EMP04   KINZA      F   4567.0
4  EMP01   UMAMA      F  24108.0
5  EMP02  FATIMA    NaN   2345.0
6  EMP05  GHANIA      F   6669.0

In [5]:
import numpy as np
print(data.replace(np.nan,4000))
#jahn jahan nan ha wahan ajai gi sari values jo nh chahiyai

    EEID    NAME GENDER   SALARY
0  EMP01   UMAMA      F   4000.0
1  EMP02  FATIMA      F  23000.0
2  EMP03   HAMNA      F   7890.0
3  EMP04   KINZA      F   4567.0
4  EMP01   UMAMA      F  24108.0
5  EMP02  FATIMA   4000   2345.0
6  EMP05  GHANIA      F   6669.0

In [6]:
data['SALARY']=data['SALARY'].replace(np.nan,2000)
print(data)

    EEID    NAME GENDER   SALARY
0  EMP01   UMAMA      F   2000.0
1  EMP02  FATIMA      F  23000.0
2  EMP03   HAMNA      F   7890.0
3  EMP04   KINZA      F   4567.0
4  EMP01   UMAMA      F  24108.0
5  EMP02  FATIMA    NaN   2345.0
6  EMP05  GHANIA      F   6669.0

In [7]:
print(data['SALARY'].mean())#jo mean aya ha wo ap nan valie ma lehk sehktai hu

10082.714285714286

In [17]:
data=ps.read_csv('test_data_csv.csv')
print(data)

    EEID    NAME GENDER   SALARY
0  EMP01   UMAMA      F      NaN
1  EMP02  FATIMA      F  23000.0
2  EMP03   USMAN      M   7890.0
3  EMP04   KINZA      F   4567.0
4  EMP01   UMAMA      F  24108.0
5  EMP02  FATIMA    NaN   2345.0
6  EMP05     NaN      F   6669.0

In [18]:
print(data.fillna(method='bfill'))#nichai wali value oper fill ho jai gi nan ma

    EEID    NAME GENDER   SALARY
0  EMP01   UMAMA      F  23000.0
1  EMP02  FATIMA      F  23000.0
2  EMP03   USMAN      M   7890.0
3  EMP04   KINZA      F   4567.0
4  EMP01   UMAMA      F  24108.0
5  EMP02  FATIMA      F   2345.0
6  EMP05     NaN      F   6669.0

C:\Users\Administrator\AppData\Local\Temp\ipykernel_14224\2050604284.py:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  print(data.fillna(method='bfill'))#nichai wali value oper fill ho jai gi nan ma

In [19]:
print(data)

    EEID    NAME GENDER   SALARY
0  EMP01   UMAMA      F      NaN
1  EMP02  FATIMA      F  23000.0
2  EMP03   USMAN      M   7890.0
3  EMP04   KINZA      F   4567.0
4  EMP01   UMAMA      F  24108.0
5  EMP02  FATIMA    NaN   2345.0
6  EMP05     NaN      F   6669.0

In [20]:
print(data.fillna(method='ffill'))#oper wali value nichai

    EEID    NAME GENDER   SALARY
0  EMP01   UMAMA      F      NaN
1  EMP02  FATIMA      F  23000.0
2  EMP03   USMAN      M   7890.0
3  EMP04   KINZA      F   4567.0
4  EMP01   UMAMA      F  24108.0
5  EMP02  FATIMA      F   2345.0
6  EMP05  FATIMA      F   6669.0

C:\Users\Administrator\AppData\Local\Temp\ipykernel_14224\3450173869.py:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  print(data.fillna(method='ffill'))

In [21]:
print(data.fillna('hello'))#kuch bhi words bhi karwa sehktai ha

    EEID    NAME GENDER   SALARY
0  EMP01   UMAMA      F    hello
1  EMP02  FATIMA      F  23000.0
2  EMP03   USMAN      M   7890.0
3  EMP04   KINZA      F   4567.0
4  EMP01   UMAMA      F  24108.0
5  EMP02  FATIMA  hello   2345.0
6  EMP05   hello      F   6669.0

In [23]:
#column transformation
data=ps.read_excel('Umama text pandas file.xlsx')
print(data)

         TERM VERIFICATION_STATUS  ANNUAL_INCOME     DTI  INSTALLMENT  \
0   60 months     Source Verified        30000.0  0.0100        59.83
1   36 months     Source Verified        48000.0  0.0535       109.43
2   36 months        Not Verified        50000.0  0.2088       421.65
3   60 months     Source Verified            NaN  0.0540        97.06
4   36 months            Verified        83000.0  0.0231       106.53
5   36 months        Not Verified        28000.0  0.1260       275.96
6   36 months            Verified        94800.0  0.2453       205.86
7   36 months     Source Verified        59000.0  0.0665       172.10
8   36 months            Verified       116400.0  0.0394       762.08
9   60 months        Not Verified        36000.0  0.1773        93.21

   INT_RATE  LOAN AMOUNT  TOTAL ACCOUNT  PAYMENT  LOAN_STATUS
0    0.1527      2500.00            4.0     1009   Fully Paid
1    0.1864         0.00            NaN     3939  Charged Off
2    0.1596     12000.00           11.0     3522   Fully Paid
3    0.1065      4500.00            9.0     4911   Fully Paid
4    0.0603         0.00           28.0     3835   Fully Paid
5    0.1465      8000.00           11.0     8637   Fully Paid
6       NaN         0.12           30.0     7218   Fully Paid
7    0.0790      5500.00            NaN     6172  Charged Off
8    0.0890     24000.00           31.0     8650   Fully Paid
9    0.1269      4125.00           21.0     5551   Fully Paid

In [29]:
data.loc[(data['LOAN_STATUS']== 'Fully Paid'), 'Good_vs_Bad']='Good Loan'
data.loc[(data['LOAN_STATUS']== 'Charged Off'), 'Good_vs_Bad']='Bad Loan'
print(data)
#new col inserting

         TERM VERIFICATION_STATUS  ANNUAL_INCOME     DTI  INSTALLMENT  \
0   60 months     Source Verified        30000.0  0.0100        59.83
1   36 months     Source Verified        48000.0  0.0535       109.43
2   36 months        Not Verified        50000.0  0.2088       421.65
3   60 months     Source Verified            NaN  0.0540        97.06
4   36 months            Verified        83000.0  0.0231       106.53
5   36 months        Not Verified        28000.0  0.1260       275.96
6   36 months            Verified        94800.0  0.2453       205.86
7   36 months     Source Verified        59000.0  0.0665       172.10
8   36 months            Verified       116400.0  0.0394       762.08
9   60 months        Not Verified        36000.0  0.1773        93.21

   INT_RATE  LOAN AMOUNT  TOTAL ACCOUNT  PAYMENT  LOAN_STATUS Good_vs_Bad
0    0.1527      2500.00            4.0     1009   Fully Paid   Good Loan
1    0.1864         0.00            NaN     3939  Charged Off    Bad Loan
2    0.1596     12000.00           11.0     3522   Fully Paid   Good Loan
3    0.1065      4500.00            9.0     4911   Fully Paid   Good Loan
4    0.0603         0.00           28.0     3835   Fully Paid   Good Loan
5    0.1465      8000.00           11.0     8637   Fully Paid   Good Loan
6       NaN         0.12           30.0     7218   Fully Paid   Good Loan
7    0.0790      5500.00            NaN     6172  Charged Off    Bad Loan
8    0.0890     24000.00           31.0     8650   Fully Paid   Good Loan
9    0.1269      4125.00           21.0     5551   Fully Paid   Good Loan

In [30]:
#get full name col also convet into lowwer uppercase and give space
data=ps.read_csv('test_data_csv.csv')
print(data)

    EEID    NAME GENDER   SALARY
0  EMP01   UMAMA      F      NaN
1  EMP02  FATIMA      F  23000.0
2  EMP03   USMAN      M   7890.0
3  EMP04   KINZA      F   4567.0
4  EMP01   UMAMA      F  24108.0
5  EMP02  FATIMA    NaN   2345.0
6  EMP05     NaN      F   6669.0

In [45]:
data['Employee Code']=data['NAME']+' '+data['EEID']
print(data)
print()
data.pop('Employee Code')#remove full col
print(data)

    EEID    NAME GENDER   SALARY Employee Code
0  EMP01   UMAMA      F      NaN   UMAMA EMP01
1  EMP02  FATIMA      F  23000.0  FATIMA EMP02
2  EMP03   USMAN      M   7890.0   USMAN EMP03
3  EMP04   KINZA      F   4567.0   KINZA EMP04
4  EMP01   UMAMA      F  24108.0   UMAMA EMP01
5  EMP02  FATIMA    NaN   2345.0  FATIMA EMP02
6  EMP05     NaN      F   6669.0           NaN

    EEID    NAME GENDER   SALARY
0  EMP01   UMAMA      F      NaN
1  EMP02  FATIMA      F  23000.0
2  EMP03   USMAN      M   7890.0
3  EMP04   KINZA      F   4567.0
4  EMP01   UMAMA      F  24108.0
5  EMP02  FATIMA    NaN   2345.0
6  EMP05     NaN      F   6669.0

In [2]:
data['Employee Code']=data['NAME'].str.lower()+data['EEID']
data['EEID']=data['EEID']

print(data['EEID'])

NameError: name 'data' is not defined

In [ ]:
data['SALARY']

In [5]:
import pandas as ps
data={'Months':['January','Febuary','March','April']}
allinged=ps.DataFrame(data)
print(allinged)

    Months
0  January
1  Febuary
2    March
3    April

In [9]:
import pandas as ps
data={'Months':['January','Febuary','March','April']}
allinged=ps.DataFrame(data)

def extract(value):
    return value[0:3]
allinged['Short_Month']=allinged['Months'].map(extract)
print(allinged)

    Months Short_Month
0  January         Jan
1  Febuary         Feb
2    March         Mar
3    April         Apr

In [11]:
#Group by in Pandas(summarizes the data)
data=ps.read_excel('Umama text pandas file.xlsx')

data.loc[(data['LOAN_STATUS']== 'Fully Paid'), 'Good_vs_Bad']='Good Loan'
data.loc[(data['LOAN_STATUS']== 'Charged Off'), 'Good_vs_Bad']='Bad Loan'
print(data)

         TERM VERIFICATION_STATUS  ANNUAL_INCOME     DTI  INSTALLMENT  \
0   60 months     Source Verified        30000.0  0.0100        59.83
1   36 months     Source Verified        48000.0  0.0535       109.43
2   36 months        Not Verified        50000.0  0.2088       421.65
3   60 months     Source Verified            NaN  0.0540        97.06
4   36 months            Verified        83000.0  0.0231       106.53
5   36 months        Not Verified        28000.0  0.1260       275.96
6   36 months            Verified        94800.0  0.2453       205.86
7   36 months     Source Verified        59000.0  0.0665       172.10
8   36 months            Verified       116400.0  0.0394       762.08
9   60 months        Not Verified        36000.0  0.1773        93.21

   INT_RATE  LOAN AMOUNT  TOTAL ACCOUNT  PAYMENT  LOAN_STATUS Good_vs_Bad
0    0.1527      2500.00            4.0     1009   Fully Paid   Good Loan
1    0.1864         0.00            NaN     3939  Charged Off    Bad Loan
2    0.1596     12000.00           11.0     3522   Fully Paid   Good Loan
3    0.1065      4500.00            9.0     4911   Fully Paid   Good Loan
4    0.0603         0.00           28.0     3835   Fully Paid   Good Loan
5    0.1465      8000.00           11.0     8637   Fully Paid   Good Loan
6       NaN         0.12           30.0     7218   Fully Paid   Good Loan
7    0.0790      5500.00            NaN     6172  Charged Off    Bad Loan
8    0.0890     24000.00           31.0     8650   Fully Paid   Good Loan
9    0.1269      4125.00           21.0     5551   Fully Paid   Good Loan

In [19]:
#categery
summarize=data.groupby(['LOAN_STATUS']).agg({'Good_vs_Bad':'count'})
print(summarize)
print()
gp=data.groupby(['TERM']).agg({'VERIFICATION_STATUS':'count'})
print(gp)
print()
gp=data.groupby(['TERM']).agg({'VERIFICATION_STATUS':'max'})
print(gp)
print()
summarize=data.groupby(['LOAN_STATUS']).agg({'Good_vs_Bad':'min'})
print(summarize)

             Good_vs_Bad
LOAN_STATUS
Charged Off            2
Fully Paid             8

           VERIFICATION_STATUS
TERM
36 months                    7
60 months                    3

          VERIFICATION_STATUS
TERM
36 months            Verified
60 months     Source Verified

            Good_vs_Bad
LOAN_STATUS
Charged Off    Bad Loan
Fully Paid    Good Loan

In [ ]:
#double or triple parameter dai kr sehktai hu ap

In [19]:
#MERGE,JOIN AND CONCATENATE
import pandas as ps
data1={'Emp Id':['EO1','E02','E03','E04','E05','E06'],
       'Name':['Talha','Kashan','Usman','Riaz','Faizan','Osama'],
       'Age':[12,56,18,22,28,30]}
data2={'Emp Id':['EO1','E02','E07','E04','E08','E06'],
       'salary':[2345,987,4567,12340,14456,9000]}

s1=ps.DataFrame(data1)
s2=ps.DataFrame(data2)
print(s1)
print( )
print(s2)

  Emp Id    Name  Age
0    EO1   Talha   12
1    E02  Kashan   56
2    E03   Usman   18
3    E04    Riaz   22
4    E05  Faizan   28
5    E06   Osama   30

  Emp Id  salary
0    EO1    2345
1    E02     987
2    E07    4567
3    E04   12340
4    E08   14456
5    E06    9000

In [11]:
print(ps.merge(s1,s2,on = 'Emp Id'))

  Emp Id    Name  Age  salary
0    EO1   Talha   12    2345
1    E02  Kashan   56     987
2    E03   Usman   18    4567
3    E04    Riaz   22   12340
4    E05  Faizan   28   14456
5    E06   Osama   30    9000

In [14]:
print(ps.merge(s1,s2,on= 'Emp Id', how='inner'))
#

  Emp Id    Name  Age  salary
0    EO1   Talha   12    2345
1    E02  Kashan   56     987
2    E03   Usman   18    4567
3    E04    Riaz   22   12340
4    E05  Faizan   28   14456
5    E06   Osama   30    9000

In [20]:
print(ps.merge(left= s1,right= s2,on= 'Emp Id', how='left'))

  Emp Id    Name  Age   salary
0    EO1   Talha   12   2345.0
1    E02  Kashan   56    987.0
2    E03   Usman   18      NaN
3    E04    Riaz   22  12340.0
4    E05  Faizan   28      NaN
5    E06   Osama   30   9000.0

In [21]:
print(ps.merge(left= s1,right= s2,on= 'Emp Id', how='right'))

  Emp Id    Name   Age  salary
0    EO1   Talha  12.0    2345
1    E02  Kashan  56.0     987
2    E07     NaN   NaN    4567
3    E04    Riaz  22.0   12340
4    E08     NaN   NaN   14456
5    E06   Osama  30.0    9000

In [21]:
import pandas as ps
data1={'Emp Id':['EO1','E02','E03','E04','E05','E06'],
       'Name':['Talha','Kashan','Usman','Riaz','Faizan','Osama'],
       'Age':[12,56,18,22,28,30]}
data2={'Emp Id':['EO7','E08','E09','E010','E011','E012'],
       'Name':['Maheen','Saba','Umama','Kinza','Rida','Fatima'],
       'Age':[12,56,18,22,28,30]}

d1=ps.DataFrame(data1)
d2=ps.DataFrame(data2) 
print(ps.concat([d1,d2]))#ek dosra ka nichai la kr rehkta ha

  Emp Id    Name  Age
0    EO1   Talha   12
1    E02  Kashan   56
2    E03   Usman   18
3    E04    Riaz   22
4    E05  Faizan   28
5    E06   Osama   30
0    EO7  Maheen   12
1    E08    Saba   56
2    E09   Umama   18
3   E010   Kinza   22
4   E011    Rida   28
5   E012  Fatima   30

In [28]:
#pandas compare DataFrames
dic={'Veges':['Potato','Tomato','Bringal','Onion'],
     'Price':[190,200,179,200],
     'Quantity':[12,10,15,6]}
d1=ps.DataFrame(dic)
print(ps.DataFrame(dic))

d2=d1.copy()
d2.loc[0,'Price']=120
d2.loc[1,'Price']=150
d2.loc[2,'Price']=220
d2.loc[3,'Price']=200
d2.loc[0,'Quantity']=10
d2.loc[1,'Quantity']=11
d2.loc[2,'Quantity']=20
d2.loc[3,'Quantity']=6
print(d2)
#for compare
print(d1.compare(d2))
print(d1.compare(d2,keep_equal=True))#default condition (o cond given tu kia karo gi)
print(d1.compare(d2,keep_shape=True))#

     Veges  Price  Quantity
0   Potato    190        12
1   Tomato    200        10
2  Bringal    179        15
3    Onion    200         6
     Veges  Price  Quantity
0   Potato    120        10
1   Tomato    150        11
2  Bringal    220        20
3    Onion    200         6
   Price        Quantity
    self  other     self other
0  190.0  120.0     12.0  10.0
1  200.0  150.0     10.0  11.0
2  179.0  220.0     15.0  20.0
  Price       Quantity
   self other     self other
0   190   120       12    10
1   200   150       10    11
2   179   220       15    20
  Veges        Price        Quantity
   self other   self  other     self other
0   NaN   NaN  190.0  120.0     12.0  10.0
1   NaN   NaN  200.0  150.0     10.0  11.0
2   NaN   NaN  179.0  220.0     15.0  20.0
3   NaN   NaN    NaN    NaN      NaN   NaN

In [50]:
#pivoting and melting dataframe
#first col ko as a row la ga phr dosra col ko index ka hisab sa place karai ga  or rest of it is NAN
import pandas as ps
dic={'keys':['k1','k2','k1','k2'],
     'names':['umama','usama','fatima','saba'],
     'color':['blue','white','sky blue','peach'],
    'dishes':['pulao','kofta','pasta','bbq']}
d1=ps.DataFrame(dic)
print(d1)
print(d1.pivot(index="keys",columns="names",values=["color","dishes"]))

  keys   names     color dishes
0   k1   umama      blue  pulao
1   k2   usama     white  kofta
2   k1  fatima  sky blue  pasta
3   k2    saba     peach    bbq
          color                     dishes
names    fatima   saba umama  usama fatima saba  umama  usama
keys
k1     sky blue    NaN  blue    NaN  pasta  NaN  pulao    NaN
k2          NaN  peach   NaN  white    NaN  bbq    NaN  kofta

In [58]:
dic= {'names':['umama','usama','fatima','saba'],
     'color':['blue','white','sky blue','peach'],
    'dishes':['pulao','kofta','pasta','bbq']}
d1=ps.DataFrame(dic)
print(d1)
print()
print(ps.melt(d1,id_vars=['names'],value_vars=['color','dishes']))
#col name
print()
print(ps.melt(d1,id_vars=['names'],value_vars=['color','dishes'],var_name='color&dishes',value_name='output'))

    names     color dishes
0   umama      blue  pulao
1   usama     white  kofta
2  fatima  sky blue  pasta
3    saba     peach    bbq

    names variable     value
0   umama    color      blue
1   usama    color     white
2  fatima    color  sky blue
3    saba    color     peach
4   umama   dishes     pulao
5   usama   dishes     kofta
6  fatima   dishes     pasta
7    saba   dishes       bbq

    names color&dishes    output
0   umama        color      blue
1   usama        color     white
2  fatima        color  sky blue
3    saba        color     peach
4   umama       dishes     pulao
5   usama       dishes     kofta
6  fatima       dishes     pasta
7    saba       dishes       bbq

In [59]:
#intro to matplotlib
#graphical representation diffrent charts in form and the all charts represent diffrent values
#BAR PLOT
import matplotlib.pyplot as pt
values=[23,97,12,11,34]
scenes=['part1','part2','part3','part4','part5']

pt.bar(scenes,values)
#jo pehlai du gi wo nichai ai ga jo bd ma wo oper
#show means print
pt.show()

ModuleNotFoundError: No module named 'matplotlib'